{% extends "admin.html" %}
  {% block admin %}

<h1 align="center">Admin Registration</h1>

<form method="post" action="admin_reg">
    <p>Name<input type="text" name="T1"/></p>
    <p>Address<input type="text" name="T2"/></p>
    <p>Contact No.<input type="text" name="T3"/></p>
    <p>Email<input type="email" name="T4"/></p>
    <p>Password<input type="password" name="T5"/></p>
    <p>Confirm Password<input type="password" name="T6"/></p>
    <p><input type="submit" name="B1" value="Submit"/></p>
</form>

{% if result %}
   {{result}}
{% endif %}

{% endblock %}